<div class = "container">
    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img alt="justdial" class="pic"
                            src="https://akam.cdn.jdmagicbox.com/images/icontent/jdrwd/jdlogosvg.svg"
                            style="width: 135px;">
                    </a>
                </li>
            </ul>
        </div>

        <div class="col mt-4 mb-3">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://www.justdial.com/cms/investor-relations/whats-new">What's New</a>
                </li>
            </ul>
        </div>

        <div class="col-6 mt-3 mb-3">

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://www.justdial.com/Free-Listing"
                        style="background-color: #fe672b; text-decoration: none;">Free Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.justdial.com/Advertise"
                        style="text-decoration: none;">Advertise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <select>language>
                            <option>English</option>
                            <option>हिन्दी</option>
                            <option>मराठी</option>
                            <option>বাঙালি</option>
                        </select>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="text-decoration: none;">
                        <span>Login</span>
                        <span>/</span>
                        <span>Sing up</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
